extends header

block content
  div.container-fluid.index-content
    div.row.height-full
      div.col-md-3.index-left.height-full
        h3.index-sider-bar-title 列表
        
        ul.index-sider-bar-ul#api-list

          -for (var i = 0; i < list.length; i++) {
            li(data-uuid=list[i].uuid) 
              span #{list[i].uuid} 
              a(href=list[i].link) #{list[i].link}
              i #{list[i].param}
          -}

        form 
          input#link-text(type="text")
          input#link-param(type="text")
          input#add-api-btn(type="button" value="增加")

        div#addnewapi
          span +
      div.col-md-9.height-full 右侧内容


  script(src='lib/js/jquery.js')
  script(src='lib/js/bootstrap.js')
  script(src='/js/index.js')

